<div class="row justify-content-center bg-white text-center py-4 pb-5">
  <div class="col-12 h4 text-dark google-font py-2">
    Your Page
    <% if current_user.admin %>
<!--      <i class="fas fa-user-cog text-admin"></i>-->
      <%= link_to '', system_user_path(current_user), class: 'fas fa-user-cog text-admin' %>
    <% else %>
      <i class="fas fa-user text-user"></i>
    <% end %>
  </div>
  <div class="col-6 h6 google-font">
    Email: <%= current_user.email %>
  </div>
</div>
