<div class="col-12">
  <div class="row text-center">
    <div class="col-2">
      <%= user.admin %>
    </div>
    <div class="col-4">
      <%= user.email %>
    </div>
    <div class="col-4">
      <%= user.created_at %>
    </div>
  </div>
</div>
