<div class="row pt-3">
  <div class="col-12 mt-5">
    <%= render 'users/profile' %>
    <div class="row">
      <div class="col-6 p-0 bg-white">
        <div class="p-3 bg-lighter google-font h4 text-center m-0 user-posts-and-likes">
          <%= link_to "Your Posts (#{current_user.cards.count})", posts_user_path(current_user), class: 'text-dark' %>
        </div>
      </div>
      <div class="col-6 p-0 bg-white">
        <div class="p-3 bg-dark google-font h4 text-center m-0 user-posts-and-likes">
          <%= link_to "Your Likes (#{current_user.like_cards.count})", likes_user_path(current_user), class: 'text-white' %>
        </div>
      </div>
      <div class="col-12 p-3 bg-dark text-white google-font h4 text-center m-0">
      </div>
    </div>
    <div class="row modal-relative">
      <% if @like_cards.blank? %>
        <div class="col-12 no-post-nor-like text-white text-center pt-5">
          There are no liked posts yet.
        </div>
      <% else %>
        <%= render partial: 'home/cards_area', collection: @like_cards, as: :card %>
      <% end %>
    </div>
  </div>
  <div class="text-center google-font show-more mt-4">
    <%= paginate @like_cards %>
  </div>
</div>
