<div class="row justify-content-center">
  <div class="col-8 p-5 bg-white mt-5">
    <div class="row">
      <%= render partial: 'users/system_users', collection: @users, as: :user %>
    </div>
  </div>
</div>
