<div class="col-4 v-image-box-lg p-0">
  <% if card.images.attached? %>
    <%= link_to image_tag(card.images.first, class: 'visit-images'),
                open_modal_card_path(card),
                remote:true
    %>
  <% end %>
  <% if current_user and card.user_id == current_user.id %>
    <div class="edit-btn"><%= link_to '', edit_card_path(card), class: 'h6 text-lighter far fa-edit' %></div>
  <% end %>
  <div class="v-image-text text-white w-100">
    <div class="h6 font-weight-bold">
      <%= card.title %>
    </div>
    <div class="row align-items-center">
      <div class="col p"><%= Card.genres(card.genre_id) %></div>
      <div class="col text-right mr-3 like-heart" id="like-heart-<%= card.id %>">
        <%= Card.liked?(card.id, current_user) ? (render 'cards/liked_heart', card: card) : (render 'cards/like_heart', card: card) %>
      </div>
    </div>
  </div>
</div>
<div class="col-12 detail-modal detail-modal-<%= modal_line_num(card_counter) %> bg-lighter" id="detail-modal-<%= card.id %>">
  <%= render 'cards/detail-modal', card: card %>
</div>
