<div class="row justify-content-center align-items-center need-login-row">
  <div class="col-4 bg-white rounded px-4 py-2">
    <div class="row">
      <div class="col-11 h6 google-font pt-3 need-login-main">
        You need to log in first.
      </div>
      <div class="col-1 h5">
        <%= link_to '', close_home_index_path,
                    remote: true,
                    class: 'fas fa-times text-muted no-decorate' %>
      </div>
      <div class="col-12 text-center py-3">
        <%= link_to 'Log in', new_user_session_path, class: 'btn btn-primary w-25' %>
        <%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-success w-25' %>
      </div>
    </div>
  </div>
</div>
