<div class="row justify-content-center bg-white text-center py-4 pb-5">
  <div class="mx-5 rounded rounded-circle things-2-do">
    <%= link_to image_tag('/images/eat&drink.svg', class: 'things-2-do-svg p-3'), home_path(0) %>
    <div class="things-2-do-text">Eat & drink</div>
  </div>
  <div class="mx-5 rounded rounded-circle things-2-do">
    <%= link_to image_tag('/images/see&do.svg', class: 'things-2-do-svg p-3'), home_path(1) %>
    <div>See & do</div>
  </div>
  <div class="mx-5 rounded rounded-circle things-2-do">
    <%= link_to image_tag('/images/events.svg', class: 'things-2-do-svg p-3'), home_path(2) %>
    <div>Events</div>
  </div>
  <div class="mx-5 rounded rounded-circle things-2-do">
    <%= link_to image_tag('/images/other.svg', class: 'things-2-do-svg p-3'), home_path(3) %>
    <div>Other</div>
  </div>
  <div class="mx-5 rounded rounded-circle things-2-do">
    <%= link_to image_tag('/images/likes.svg', class: 'things-2-do-svg p-3'), likes_home_index_path %>
    <div>All</div>
  </div>
</div>
