<div class="row pt-3">
  <div class="col-sm-6 h1 google-font logo">VisitHub</div>
  <div class="col-12 welcome-text google-font text-center pt-4">Welcome to Osaka</div>
  <div class="col-12 h5 welcome-text-mini google-font text-center pb-3">The best experience for you. And share your best experience in Osaka for the next traveler.</div>
  <div class="col-12">
    <%= render 'home/things2do' %>
    <div class="row">
      <div class="col-12 p-3 bg-dark text-white">
        <%= search_form_for @q, url: root_path, class: '' do |f| %>
          <div class="row no-gutters form-group justify-content-center m-0">
            <div class="col-4 w-50">
              <%= f.search_field :title_or_content_cont_all, class: 'form-control form-control-sm rounded-0' %>
            </div>
            <div class="col-1">
              <%= button_tag :type => "submit", :class =>"btn btn-sm btn-default btn-s-md" do %>
                <i class="fa fa-search"></i>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="row modal-relative">
      <%= render partial: 'home/cards_area', collection: @cards, as: :card %>
    </div>
  </div>
  <div class="text-center google-font show-more mt-4">
    <%= paginate @cards %>
  </div>
</div>
