<div class="row justify-content-center">
  <div class="col-4 p-4 my-5 bg-white rounded">
    <div class="h2 google-font text-center">Log in</div>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control mb-3' %>
      </div>

      <div class="">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password", class: 'form-control' %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Log in", class: 'btn btn-primary w-100 mt-3 mb-2' %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
