<div class="row">
  <div class="col-4 v-image-box-lg p-0">
    <% if card.images.attached? %>
      <%= image_tag(card.images.second ? card.images.second : card.images.first, class: 'visit-images') %>
    <% end %>
    <span class="rounded px-3 py-2 bg-white detail-like h5" id="detail-like-heart-<%= card.id %>">
      <%= Card.liked?(card.id, current_user) ? (render 'cards/detail_liked_heart', card: card) : (render 'cards/detail_like_heart', card: card) %>
    </span>
  </div>
  <div class="col-8 google-font p-2 px-4 detail-box">
    <div class="row">
      <div class="col-11 h3 mb-0 detail-title"><%= card.title %></div>
      <div class="col-1 h5 align-self-center"><%= link_to '', close_modal_card_path(card), remote: true, class: 'fas fa-times text-muted no-decorate' %></div>
      <div class="col-12 p text-muted mb-2"><%= Card.genres(card.genre_id) %></div>
      <div class="col-12 p detail-content mb-2"><%= card.content %></div>
      <div class="col-10 detail-website text-muted p bg-lighter w-100">Website: <%= link_to card.url, card.url, target: :_blank %></div>
      <% if current_user and card.user_id == current_user.id %>
        <div class="col-2 detail-edit-btn text-center"><%= link_to 'Edit', edit_card_path(card), class: 'text-dark far fa-edit' %></div>
      <% end %>
    </div>
  </div>
</div>
