<%= link_to '',
            user_signed_in? ? detail_delete_like_card_path(card) : open_home_index_path,
            method: :get,
            remote: true,
            class: 'fas fa-heart liked'%>
&nbsp;
<%= Card.like_count(card.id) %>
