$("#detail-like-heart-<%= @card.id %>").html("<%= escape_javascript(render 'cards/detail_liked_heart', card: @card) %>").show();
$("#like-heart-<%= @card.id %>").html("<%= escape_javascript(render 'cards/liked_heart', card: @card) %>").show();
