$("#detail-like-heart-<%= @card.id %>").html("<%= escape_javascript(render 'cards/detail_like_heart', card: @card) %>").show();
$("#like-heart-<%= @card.id %>").html("<%= escape_javascript(render 'cards/like_heart', card: @card) %>").show();
