<div class="row justify-content-center">
  <div class="col-10 h1 google-font text-center p-5 mt-3">
    Share good places you have visited!
  </div>
  <div class="col-8">
    <%= form_with model: @card, local: true do |form| %>
      <%= form.text_field :title, class: "form-control my-3", value: @card.title %>
      <%= form.file_field :images, multiple: true, accept: '.png, .jpg, .jpeg', class: '' %>
      <%= form.text_area :content, class: 'form-control my-3 new-post-content', value: @card.content %>
      <%= form.text_field :url, class: "form-control my-3", value: @card.url %>
      <%= form.select :genre_id, card_genres, {}, {selected: :first, class: "form-control custom-select d-block w-100"} %>
      <%= form.submit "Create!!", class: "btn btn-lg btn-info btn-block mt-4" %>
    <% end %>
  </div>
  <div class="col-8">
    <div class="row">
      <div class="col-4 offset-8 mt-3">
        <%= link_to 'Delete', card_path(@card), method: :delete,
                    class: 'btn btn-danger w-100',
                    data: { confirm: 'Are you sure you want to delete this ??' }
        %>
      </div>
    </div>
  </div>
</div>
