<div class="row justify-content-center">
  <div class="col-10 h1 google-font text-center p-5 mt-3">
    Share good places you have visited!
  </div>
  <div class="col-8">
    <%= form_with model: @card, local: true do |form| %>
      <%= form.text_field :title, class: "form-control my-3", placeholder: "title" %>
      <%= form.file_field :images, multiple: true, accept: '.png, .jpg, .jpeg', class: '' %>
      <%= form.text_area :content, class: 'form-control my-3 new-post-content', value: 'description' %>
      <%= form.text_field :url, class: "form-control my-3", placeholder: "URL" %>
      <%= form.select :genre_id, card_genres, {}, {selected: :first, class: "form-control custom-select d-block w-100"} %>
      <%= form.submit "Create!!", class: "btn btn-lg btn-info btn-block mt-4 mb-5" %>
    <% end %>
  </div>
</div>
