$(".detail-modal").hide();
$(".like-heart").show();
$("#like-heart-<%= @card.id %>").hide();
$("#detail-modal-<%= @card.id %>").html("<%= escape_javascript(render 'cards/detail-modal', card: @card) %>").fadeIn();
