@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import url('https://fonts.googleapis.com/css?family=Concert+One&display=swap');

@mixin modal-position {
  height: 20vw;
  position: absolute;
  left: 0;
  z-index: 1;
  display: none;
}

.google-font {
  font-family: 'Merriweather', serif;
  font-weight: bold;
}
.bg-white {
  background-color: white;
}
.bg-red {
  background-color: darkred;
}
.bg-dark {
  background-color: #2E2F30;
}
.bg-lighter {
  background-color: #dadada;
}
.text-white {
  color: white;
}
.text-lighter {
  color: #b4b4b4;
}
.text-dark {
  color: #2E2F30;
}
.text-admin {
  color: #3b90e7;
}
.text-user {
  color: #6db753;
}
@media (min-width: 1500px) {
  .container {
    max-width: 1400px;
  }
}
a:hover {
  text-decoration: none;
}
.top-bg-image {
  background-image: url("/images/top_osaka.jpg");
  background-size: cover;
  height: 50vw;
  width: 102vw;
  opacity: 0.4;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
}
.new-post-btn {
  color: white;
  font-weight: bold;
  background-color: #ce3a60;
}
.my-page-btn {
  color: white;
  font-weight: bold;
  background-color: #72a6d9;
}
.liked {
  color: #ce3a60;
}

//PC画面用レイアウト
header {
  height: 48px;
  width: 105%;
  color: white;
  background-color: #171717;
  z-index: 4;
  position: fixed;
  top: 0;
  left: 0;
}
.header-email {
  overflow: hidden;
}
footer {
  height: 160px;
  background-color: #2E2F30;
}
.need-login {
  height: 100vh;
  width: 100vw;
  z-index: 13;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
}
#need-login {
  display: none;
}
.need-login-row {
  height: 100vh;
}
.need-login-main {
  opacity: 1.0;
}
.show-more {
  color: #2E2F30;
  font-weight: 900;
  text-align: center;
  margin: 0 auto;
}
.welcome-text {
  font-size: 64px;
  font-weight: bold;
  margin-top: 40px;
}
.welcome-text-mini {
  margin-bottom: 56px;
}
.things-2-do {
  border: solid 2px #171717;
  width: 6vw;
  height: 6vw;
}
.things-2-do:hover {
  background-color: #cdd3d8;
  border: solid 2px #cdd3d8;
}
.things-2-do-svg {
  width: 6vw;
}
.things-2-do-text {
  width: 8vw;
}
.new-post-content {
  height: 320px;
}
.image-show {
  width: 70vw;
}
.edit-btn {
  position: absolute;
  top: 4%;
  right: 4%;
}
.v-image-box-lg {
  width: 100%;
  height: 20vw;
  background-color: black;
}
.no-post-nor-like {
  width: 100%;
  height: 20vw;
  background-color: #343A40;
  font-size: 18px;
}
.visit-images{
  width: 100%;
  height: 20vw;
  z-index: -1;
}
.visit-images:hover {
  opacity: 0.8;
  transition-duration: 0.3s;
}
.v-image-text {
  text-shadow: 0 1px 1px black;
  position: absolute;
  bottom: 8px;
  left: 8px;
}
.like-heart {
  text-align: end;
}
.modal-relative {
  position: relative;
}
.detail-modal-1 {
  @include modal-position;
  top: 0;
}
.detail-modal-2 {
  @include modal-position;
  top: 20vw;
}
.detail-modal-3 {
  @include modal-position;
  top: 40vw;
}
.detail-modal-4 {
  @include modal-position;
  top: 60vw;
}
.detail-modal-5 {
  @include modal-position;
  top: 80vw;
}
.detail-title {
  height: 34px;
  overflow: auto;
}
.detail-content {
  height: 9vw;
  overflow: auto;
}
.detail-box {
  position: relative;
}
.detail-website {
  font-weight: bold;
  height: 24px;
  overflow: hidden;
  position: absolute;
  left: 8px;
  bottom: 8px;
}
.detail-edit-btn {
  font-weight: bold;
  height: 24px;
  position: absolute;
  right: 8px;
  bottom: 8px;
}
.detail-like {
  position: absolute;
  right: 12px;
  bottom: 12px;
}
.user-posts-and-likes {
  border-radius: 20px 20px 0 0;
}

//小型デバイス専用レイアウト(スマホ、小さいタブレット)
@media (max-width: 800px) {
  .logo {
    font-size: 28px;
  }
  .welcome-text {
    margin-top: 0;
    font-size: 36px;
  }
  .welcome-text-mini {
    margin-bottom: 0;
    font-size: 16px;
  }
  .things-2-do {
    //padding: 12px 0;
    border: solid 1px #171717;
  }
}
