<footer class="mt-5">
  <div class="row align-items-center">
    <div class="col-3 h1 google-font text-center text-white">
      VH
    </div>
    <div class="col-3 text-white">
      大阪府泉大津市池浦町<br>
      個人開発Webアプリケーション<br>
      【 VisitHub 】
    </div>
    <div class="col-3 text-white">
      Ikeura, Izumiotsu, Osaka, Japan<br>
      Personal development web application<br>
      【 VisitHub 】
    </div>
    <div class="col-3 p-5 text-white">
      <h6>CONTACT</h6>
      Email:<br>
      visithub411@gmail.com
    </div>
  </div>
</footer>
