<header class="row justify-content-end align-items-center">
  <% if user_signed_in? %>
    <div class="col-2 google-font text-left h4 m-0 pl-5"><%= link_to 'VH', root_path, class: 'text-white' %></div>
    <div class="col-4 offset-2 text-center">
        <%= link_to 'New post', new_card_path, class: 'new-post-btn btn btn-light border-0 mr-1' %>
        <%= link_to 'My page', posts_user_path(current_user), class: 'my-page-btn btn btn-light border-0 ml-1' %>
    </div>
    <div class="col-2 text-right header-email"><%= current_user.email if current_user %></div>
    <div class="col-2">
      <%= link_to 'Logout', destroy_user_session_path,
                  method: :delete,
                  class: 'text-white btn btn-outline-light',
                  data: { confirm: 'Logout OK ??' } if user_signed_in? %>
    </div>
  <% else %>
    <div class="col-2 google-font text-left h4 m-0 pl-5"><%= link_to 'VH', root_path, class: 'text-white' %></div>
    <div class="col-4 offset-2 text-center">
      <%= link_to 'New post', open_home_index_path, remote: true, class: 'new-post-btn btn btn-light border-0 mr-1' %>
      <%= link_to 'My page', open_home_index_path, remote: true, class: 'my-page-btn btn btn-light border-0 ml-1' %>
    </div>
    <div class="col-2 text-right header-email"><%= current_user.email if current_user %></div>
    <div class="col-2">
      <%= link_to 'Log in', new_user_session_path,
                  class: 'text-white btn btn-outline-light' %>
    </div>
  <% end %>
</header>
