<!DOCTYPE html>
<html>
  <head>
    <title>VisitHub in Osaka</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= analytics_init if Rails.env.production? %>
  </head>

  <body>
    <%= render 'layouts/header' %>
<!--    <p class="notice"><%#= notice %></p>-->
<!--    <p class="alert"><%#= alert %></p>-->
    <div class="top-bg-image"></div>
    <div class="need-login" id="need-login">
      <%= render 'home/need_login' %>
    </div>
    <div class="container p-0 mt-5">
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
